@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
  @include desktop-spacing;
  margin-top: 5rem;
  color: $primary-text-color;

  &__header {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem auto 3rem auto;
    color: $secondary-text-color;
    text-align: center;
  }

  /* Top Section */
  &__top {
    display: flex;
    gap: 5rem;
    align-items: flex-start;

    // @media (max-width: 768px) {
    //     flex-direction: column;
    //     text-align: center;
    //     gap: 2rem;
    // }
  }

  &__img {
    width: 450px;
    height: 700px;
    border-radius: 16px;
    object-fit: cover;
    margin: 3rem 0 1.5rem;
  }

  &__intro {
    flex: 1;
    font-size: 1.05rem;
    line-height: 1.75;
    color: $primary-text-color;
  }

  &__text {
    margin-bottom: 1.25rem;
  }

  &__buttons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* Skills */
  &__skills {
    margin-bottom: 4rem;
  }

  /* Experience & Education */
  &__experience {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3rem;

    // @media (max-width: 768px) {
    //   grid-template-columns: 1fr;
    // }

    &-column {
      &>.about__exp-item,
      &>.about__edu-item {
        margin-bottom: 1.25rem;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
        color: $primary-text-color;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  &__subheader {
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem 0 1.5rem;
    border-left: 4px solid $primary-link-text-color;
    padding-left: 0.75rem;
    color: $primary-text-color;
  }
}