@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
    @include desktop-spacing;
    margin-top: 5rem;
}

.about__header {
    @include header;
}

.about__text {
    margin-bottom: 1rem;

    &-button {
        display: block;
        // padding-top: 0.5rem;
    }

    &-link {
        display: block;
    }
}
