.button {
    display: inline;
    // padding: 0.4rem 0.3rem 0.8rem 0rem;
    // background-color: blue;
    cursor: pointer;

    &:hover {
        padding: 0.4rem 0.5rem 1rem 0rem;
    }

    &__box {
        background-color: none;
        outline: none;
        // border: 2px solid blue;
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
        margin-right: 0.5rem;
        color: purple;
        font-weight: 500;
        letter-spacing: 0.1rem;
        cursor: pointer;
    }
}