@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin header {
    @include flex(row, center, center);
    margin-bottom: 1rem;
    font-size: 2rem;
}