@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Fonts/Montserrat/static/Montserrat-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Fonts/Montserrat/static/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Fonts/Montserrat/static/Montserrat-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Fonts/Montserrat/static/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/Fonts/Montserrat/static/Montserrat-Bold.ttf");
    font-weight: 700;
}

// Quicksand
// @font-face {
//     font-family: "Montserrat";
//     src: url("../../assets/Fonts/Montserrat/static/Montserrat-Thin.ttf");
//     font-weight: 100;
// }

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/Fonts/Quicksand/static/Quicksand-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/Fonts/Quicksand/static/Quicksand-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/Fonts/Quicksand/static/Quicksand-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/Fonts/Quicksand/static/Quicksand-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Quicksand";
    src: url("../../assets/Fonts/Quicksand/static/Quicksand-Bold.ttf");
    font-weight: 700;
}