$background-primary :  rgb(223, 251, 252);
$background-secondary: #FFFFFF;
$primary-link-text-color: #08369a;
$secondary-link-text-color: #1e40af;
$secondary-primary-link-text-color: #cce0ff;
$supporting-color: #FFFFFF;

$primary-text-color: #475569;
$secondary-text-color: #64748B;
$tertiary-text-color: #0f172a;
$sub-primary-text-color: #1e293b;