@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
    @include desktop-spacing;
    margin-top: 8rem;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    &__info {
        flex: 1;
        min-width: 300px;
    }

    &__title {
			font-size: 2rem;
			// margin-bottom: 1rem;
			color: #111;
			font-weight: 700;
			margin: 0 0 1.5rem;
			border-left: 4px solid $primary-link-text-color;
			padding-left: 0.75rem;
			color: $primary-text-color;
		}

    &__text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        color: #444;
    }

    &__details-text {
        margin: 0.5rem 0;
        font-size: 0.95rem;
        color: #666;
    }

    &__links {
        margin-top: 1rem;

        &-link {
            display: inline-block;
            margin-right: 1rem;
            font-weight: 500;
            color: #0072b1;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__form {
        flex: 1;
        // min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        &-group {
            display: flex;
            flex-direction: column;

            &-label {
                margin-bottom: 0.5rem;
                font-weight: 500;
            }

            &-input {
                padding: 0.8rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 1rem;
                resize: vertical;
            }

            textarea {
                padding: 0.8rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 1rem;
                resize: vertical;
                height: 200px;
            }
        }
    }

    &__submit {
        background: #0072b1;
        color: #fff;
        padding: 0.9rem 1.5rem;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        // transition: background 0.3s ease;

        &:hover {
            background: #005f91;
        }
    }
}