@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-contact {
  background-color: $primary-link-text-color;
  color: $supporting-color;
  padding: 8rem 2rem;
  text-align: center;

  &__header {
    @include header;
    background-color: $primary-link-text-color;
    color: $supporting-color;
    font-size: 2.25rem;
    font-weight: 700;
  }

  &__description {
    font-size: 1.25rem;
    background-color: $primary-link-text-color;
    font-size: 1.25rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
    color: $supporting-color;
  }
}