@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.projects {
    @include desktop-spacing;
    margin: 7rem auto 7rem auto;
    
    &__header {
      @include header;
      margin-bottom: 2rem;
    }

    &__description {
      font-size: 1.25rem;
      color: $secondary-text-color;
      margin: 2rem auto 3rem auto;
      text-align: center;
      margin: 2rem auto 6rem auto;
    }

    &__cards {
      @include flex(row, space-between, center);
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    &__button {
      @include flex(row, center, center);
      margin: 2rem auto;
    }
}