@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
  @include flex(row, space-between, center);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: $background-secondary;
  @include desktop-spacing;


  &__icon {
    color: $primary-link-text-color;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;

    &:hover {
        color: $secondary-primary-link-text-color;
      }
  }

  &__links {
    @include flex(row, center, center);
    gap: 3rem;
    color: $primary-link-text-color;
  }
    
  &__link {
    color: $primary-link-text-color;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      color: $secondary-primary-link-text-color;
      text-decoration: underline;
    }
  }
}